# 리스트와 튜플 사용하기

In [1]:
a = 10
b = 20

In [2]:
a1 = 10
a2 = 20
...
a29 = 60
a30 = 40

In [3]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [4]:
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

In [5]:
a = []
a

[]

In [6]:
b = list()
b

[]

In [7]:
range(10)

range(0, 10)

In [8]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
b = list(range(5, 12))
b

[5, 6, 7, 8, 9, 10, 11]

In [10]:
c = list(range(-4, 10, 2))
c

[-4, -2, 0, 2, 4, 6, 8]

In [11]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [13]:
a = 38, 21, 53, 62, 19
a

(38, 21, 53, 62, 19)

In [15]:
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

In [16]:
38

38

In [17]:
(38)

38

In [18]:
(38, )

(38,)

In [19]:
38,

(38,)

In [20]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

In [22]:
c = tuple(range(-4, 10, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

In [23]:
a = [1, 2, 3]
tuple(a)

(1, 2, 3)

In [24]:
b = (4, 5, 6)
list(b)

[4, 5, 6]

In [25]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [26]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [27]:
a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [28]:
d, e, f = [4, 5, 6]
print(d, e, f)

4 5 6

In [29]:
x = [1, 2, 3]
a, b, c = x
print(a, b, c)

1 2 3

In [30]:
y = (4, 5, 6)
d, e, f = y
print(d, e, f)

4 5 6

In [31]:
input().split()

10 20

['10', '20']

In [32]:
x = input().split()

10 20

In [33]:
a, b = x
print(x)

['10', '20']

In [34]:
a = 10, 20, 30, False, 'Hello'

In [35]:
a

(10, 20, 30, False, 'Hello')

In [36]:
a = (False, 'Python')
a

(False, 'Python')

In [37]:
a = tuple([10, 20, 30])

In [38]:
a

(10, 20, 30)

In [39]:
a = [10, 20, 30]

In [40]:
a

[10, 20, 30]

In [41]:
a = []

In [42]:
a

[]

In [ ]:
[5, 3, 1, -1, -3, -5, -7, -9]

In [47]:
a = list(range(5, -11, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [ ]:
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [1]:
a = list(range(-10, 10, 2))
print(a)

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [ ]:
a = int(input())
print(tuple(range(-10,10,a)))