## 1. 변수 만들기

In [1]:
x = 10
x

10

In [2]:
y = 'Hello, world!'
y

'Hello, world!'

In [3]:
type(x)

int

In [4]:
type(y)

str

In [5]:
x, y, z = 10, 20, 30

In [6]:
x

10

In [7]:
y

20

In [8]:
z

30

In [9]:
x = y = z = 10

In [10]:
x

10

In [11]:
y

10

In [12]:
z

10

In [13]:
x, y = 10, 20
x, y = y, x

In [14]:
x

20

In [15]:
y

10

In [16]:
x = 10
del x

In [17]:
x

NameError: name 'x' is not defined

In [18]:
x = None
print(x)

None

In [19]:
x

In [20]:
a = 10
a + 20

30

In [21]:
a

10

In [22]:
a = 10
a = a+20
a

30

In [23]:
a = 10
a += 20
a

30

In [24]:
d += 10

NameError: name 'd' is not defined

In [25]:
x = -10
+x

-10

In [26]:
-x

10

In [28]:
input()

Hello, world!

'Hello, world!'

In [29]:
x = input()

Hello, world!

In [30]:
x

'Hello, world!'

In [31]:
x = input('문자열을 입력하세요: ')

문자열을 입력하세요: Hello, world!

In [32]:
x

'Hello, world!'

In [33]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')

print(a+b)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
1020

In [34]:
a = input()

10

In [35]:
type(a)

str

In [1]:
a = int(input('첫 번째 숫자를 입력하세요: '))
b = int(input('두 번째 숫자를 입력하세요: '))

print(a+b)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
30

In [2]:
a, b = input('문자열 두 개를 입력하세요: ').split()

print(a)
print(b)

문자열 두 개를 입력하세요: Hello Python
Hello
Python

In [3]:
a, b = input('문자열 두 개를 입력하세요: ').split()

문자열 두 개를 입력하세요: Hello Python

In [4]:
a, b = input('문자열 두 개를 입력하세요:').split()

print(a)
print(b)

문자열 두 개를 입력하세요:Hello Python
Hello
Python

In [5]:
a, b = input('숫자 두 개를 입력하세요: ').split() # 입력받은 값을 공백을 기준으로 분리

a = int(a)
b = int(b)

print(a+b)

숫자 두 개를 입력하세요: 10 20
30

In [6]:
print(int(a) + int(b))

30

In [7]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split())

print(a+b)

숫자 두 개를 입력하세요: 10 20
30

In [8]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split(',')) # 입력받은 값을 콤마를 기준으로 분리

print(a+b)

숫자 두 개를 입력하세요: 10,20
30

In [10]:
a,b = map(int, input('숫자 두 개를 입력하세요: ').split(','))

print(a+b)

숫자 두 개를 입력하세요: 10,20
30

In [11]:
a,b = map(float, input('숫자 두 개를 입력하세요: ').split(','))

print(a+b)

숫자 두 개를 입력하세요: 11.1,22.2
33.3

## 연습문제

In [12]:
a, b, c = map(int, input().split())

-10 20 30

In [13]:
print(a+b+c)

40

In [16]:
a, b, c = map(str, input().split())
print(a)
print(b)
print(c)

50 100 None
50
100
None

In [25]:
a, b, c = map(str, input().split())

print(a)
print(b)
print(c)

50 100 None
50
100
None

In [26]:
a = 50
b = 100
c = None

print(a)
print(b)
print(c)

50
100
None