Titnaic intro

# 1. Titanic data explore

In [1]:
import pandas as pd


train = pd.read_csv('C:/Users/709-000/Documents/카카오톡 받은 파일/2019-2nd-ml-month-with-kakr/train.csv')
test = pd.read_csv('C:/Users/709-000/Documents/카카오톡 받은 파일/2019-2nd-ml-month-with-kakr/test.csv')

In [2]:
train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2,2,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
3,3,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
4,4,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711

In [3]:
test.head() #test data set don't have survived col because it's target column

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,15035,20141209T000000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
1,15036,20141209T000000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
2,15037,20140512T000000,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
3,15038,20150415T000000,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
4,15039,20150312T000000,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [4]:
train.shape

(15035, 21)

In [5]:
test.shape #11cols  = survived is not included in test data set

(6468, 20)

In [6]:
train.info() #Nan in Age, Cabin columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15035 entries, 0 to 15034
Data columns (total 21 columns):
id               15035 non-null int64
date             15035 non-null object
price            15035 non-null float64
bedrooms         15035 non-null int64
bathrooms        15035 non-null float64
sqft_living      15035 non-null int64
sqft_lot         15035 non-null int64
floors           15035 non-null float64
waterfront       15035 non-null int64
view             15035 non-null int64
condition        15035 non-null int64
grade            15035 non-null int64
sqft_above       15035 non-null int64
sqft_basement    15035 non-null int64
yr_built         15035 non-null int64
yr_renovated     15035 non-null int64
zipcode          15035 non-null int64
lat              15035 non-null float64
long             15035 non-null float64
sqft_living15    15035 non-null int64
sqft_lot15       15035 non-null int64
dtypes: float64(5), int64(15), object(1)
memory usage: 2.4+ MB

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6468 entries, 0 to 6467
Data columns (total 20 columns):
id               6468 non-null int64
date             6468 non-null object
bedrooms         6468 non-null int64
bathrooms        6468 non-null float64
sqft_living      6468 non-null int64
sqft_lot         6468 non-null int64
floors           6468 non-null float64
waterfront       6468 non-null int64
view             6468 non-null int64
condition        6468 non-null int64
grade            6468 non-null int64
sqft_above       6468 non-null int64
sqft_basement    6468 non-null int64
yr_built         6468 non-null int64
yr_renovated     6468 non-null int64
zipcode          6468 non-null int64
lat              6468 non-null float64
long             6468 non-null float64
sqft_living15    6468 non-null int64
sqft_lot15       6468 non-null int64
dtypes: float64(4), int64(15), object(1)
memory usage: 1010.7+ KB

In [8]:
train.isnull().sum() #you can check Nan value also like this

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

# <h3>1-2. Data Visualization

In [9]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set() #setting seaborn default for plots - 디폴트 값으로 설정

In [12]:
survived = train[train['Survived']==1]['Sex'].value_counts()
dead = train[train['Survived']==0]['Sex'].value_counts()
df = pd.DataFrame([survived.dead])
df.index=['Survived','Dead']
df

KeyError: 'Survived'

In [11]:
bar_chart('Sex') #make polt based on sex

KeyError: 'Survived'

women are more surveve than men

In [45]:
bar_chart('Pclass')

lower class shows that more likely to dead

In [46]:
bar_chart('SibSp')

혼자 탄 경우 조금 더 많이 죽었다

In [47]:
bar_chart('Embarked')

애매하긴 하지만 S에서 탔을 경우 더 많이 죽을 가능성이 있다.

# 2. Data processing

In [48]:
train.head()

1. generally, maching learning algorithms can't read char(text) data, so we need to change it as a number(int, float, and so on) with one hot encoding, binning.

2. Need to do something about Nan data, drop it or fill it with median data, and so on.

# <h3> 2-1. Name

Mr. Mrs. Miss. will be valuealbe data, so we need to get that information.

In [50]:
train_test_data = [train, test] # train과 test set 합침

In [51]:
train_test_data #train(891 rows) + test(418 rows)가 합쳐진것 확인

In [52]:
for dataset in train_test_data:
    dataset['Title'] = dataset['Name'].str.extract(' ([A-Za-z]+)\.', expand = False)

Extract Mr. Mrs. Miss using  regular expression

([A-Za-z]+)\.) is the core part of  regular expression.

what It means..
1. Start with capital letter from A to Z
2. After this language, the letter will be a to z 
3. Escape character is '' . '  

visit https://regexr.com/  for more info.

In [54]:
train['Title'].value_counts()

In [55]:
test['Title'].value_counts()

Title dictionary::<br>
Mr = 0<br>
Mrs = 1<br>
Mrs = 2<br>
Others = 3<br>

In [56]:
title_mapping = {"Mr": 0, "Miss": 1, "Mrs": 2, 
                 "Master": 3, "Dr": 3, "Rev": 3, "Col": 3, "Major": 3, "Mlle": 3,"Countess": 3,
                 "Ms": 3, "Lady": 3, "Jonkheer": 3, "Don": 3, "Dona" : 3, "Mme": 3,"Capt": 3,"Sir": 3 }
for dataset in train_test_data:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    
    #위 Title Dictionary에 맞게 숫자를 mapping 해준다. 숫자로 바꾸는 이유는 아까 말했던 것처럼
    #대부분 머신러닝 알고리즘들은 텍스트를 읽지 못하기 때문

In [57]:
train.head()

In [58]:
test.head()

이제 Name 칼럼을 삭제하자

In [59]:
train.drop('Name', axis=1, inplace=True)
test.drop('Name', axis=1, inplace=True)

In [60]:
train.head()

In [61]:
test.head()

In [56]:
bar_chart('Title')

역시 남자(=0) 이 많이 죽었다

# <h3> 2-2. Sex

In [62]:
sex_mapping = {"male": 0, "female": 1}
for dataset in train_test_data:
    dataset['Sex'] = dataset['Sex'].map(sex_mapping)

In [63]:
bar_chart('Sex')

# <h3> 2-3. Age

fill Nan with median value of group(group of Mr. / group of Miss. / group of Mrs.)

In [64]:
train.head(30)

In [65]:
train["Age"].fillna(train.groupby("Title")["Age"].transform("median"), inplace=True)

#train의 Age 칼럼의 nan값을 train의 title로 gourp을 지어서 해당 그룹의 age칼럼의 median값으로 대체하겠다.
#0 = Mr, 1 = Mrs, 2 = Miss, 3 = Others

In [66]:
test["Age"].fillna(test.groupby("Title")["Age"].transform("median"), inplace=True)
#test 값을 ~ 위와동일

In [67]:
train.head(20)

Nan value in age col is filled with median value of group.

# <h3> 2-4. Age_Binning

Scaling Age column with Binning

In [68]:
for dataset in train_test_data:
    dataset.loc[ dataset['Age'] <= 16, 'Age'] = 0,
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 26), 'Age'] = 1,
    dataset.loc[(dataset['Age'] > 26) & (dataset['Age'] <= 36), 'Age'] = 2,
    dataset.loc[(dataset['Age'] > 36) & (dataset['Age'] <= 62), 'Age'] = 3,
    dataset.loc[ dataset['Age'] > 62, 'Age'] = 4

age dictionary::
<br>
child: 0<br>
young: 1<br>
adult: 2<br>
mid-age: 3<br>
senior: 4<br>

16세 이하는 0(child), 17~26세는 1(young) 등등.. 으로 변환한다는 것이다.
<br>

In [69]:
train.head()

In [70]:
bar_chart('Age')

이제 좀 더 깔끔하게 보인다

# <h3> 2-5. Embarked

In [71]:
Pclass1 = train[train['Pclass']==1]['Embarked'].value_counts()
Pclass2 = train[train['Pclass']==2]['Embarked'].value_counts()
Pclass3 = train[train['Pclass']==3]['Embarked'].value_counts()

#Embarked 칼럼에서 Pclass가 1인 인스턴스의 갯수를 카운트하여 Pclass1 변수에 담는다
#2, 3도 반복

In [72]:
df = pd.DataFrame([Pclass1, Pclass2, Pclass3])
df.index = ['1st class','2nd class', '3rd class']
df.plot(kind='bar',stacked=True, figsize=(10,5))

In [73]:
for dataset in train_test_data: #fill Nan value with 'S'
    dataset['Embarked'] = dataset['Embarked'].fillna('S')

In [74]:
train.head()

In [75]:
embarked_mapping = {"S": 0, "C": 1, "Q": 2}
for dataset in train_test_data:
    dataset['Embarked'] = dataset['Embarked'].map(embarked_mapping)

In [76]:
train.head() #mapping embaked value with number(non-ordered)

# <h3> 2-6. Fare

In [77]:
# fill Nan with median value of the group(Pclass)
train["Fare"].fillna(train.groupby("Pclass")["Fare"].transform("median"), inplace=True)
test["Fare"].fillna(test.groupby("Pclass")["Fare"].transform("median"), inplace=True)

In [78]:
train.head(10)

Binning Fare column

In [79]:
for dataset in train_test_data:
    dataset.loc[ dataset['Fare'] <= 17, 'Fare'] = 0,
    dataset.loc[(dataset['Fare'] > 17) & (dataset['Fare'] <= 30), 'Fare'] = 1,
    dataset.loc[(dataset['Fare'] > 30) & (dataset['Fare'] <= 100), 'Fare'] = 2,
    dataset.loc[ dataset['Fare'] > 100, 'Fare'] = 3

In [80]:
train.head(20)

# <h3> 2-7. Cabin

In [81]:
train.Cabin.value_counts()

extract first letter(capital letter of alphabet)

In [82]:
for dataset in train_test_data:
    dataset['Cabin'] = dataset['Cabin'].str[:1]

In [83]:
Pclass1 = train[train['Pclass']==1]['Cabin'].value_counts() #Pclass=1에 해당하는 Cabin 값을 카운트
Pclass2 = train[train['Pclass']==2]['Cabin'].value_counts() #반복
Pclass3 = train[train['Pclass']==3]['Cabin'].value_counts()
df = pd.DataFrame([Pclass1, Pclass2, Pclass3])
df.index = ['1st class','2nd class', '3rd class']
df.plot(kind='bar',stacked=True, figsize=(10,5))

1st class have ABCDE로 but 2nd and 3rd only have EFGT.

In [84]:
cabin_mapping = {"A": 0, "B": 0.4, "C": 0.8, "D": 1.2, "E": 1.6, "F": 2, "G": 2.4, "T": 2.8}
for dataset in train_test_data:
    dataset['Cabin'] = dataset['Cabin'].map(cabin_mapping) #mapping cabin col

In [85]:
#fill Nan in cabin col with median value of the Pclass
train["Cabin"].fillna(train.groupby("Pclass")["Cabin"].transform("median"), inplace=True)
test["Cabin"].fillna(test.groupby("Pclass")["Cabin"].transform("median"), inplace=True)

# <h3> 2-8. Familysize

In [86]:
train["FamilySize"] = train["SibSp"] + train["Parch"] + 1 #sib = sibling, Parch = parents and child
test["FamilySize"] = test["SibSp"] + test["Parch"] + 1

In [87]:
train["FamilySize"].max()

In [88]:
test["FamilySize"].max()

In [89]:
#Scale of familysize is 1 - 11 

family_mapping = {1: 0, 2: 0.4, 3: 0.8, 4: 1.2, 5: 1.6, 6: 2, 7: 2.4, 8: 2.8, 9: 3.2, 10: 3.6, 11: 4}
for dataset in train_test_data:
    dataset['FamilySize'] = dataset['FamilySize'].map(family_mapping)

In [90]:
train.head(20)

In [91]:
#drop ticket, sibsp, parch
features_drop = ['Ticket', 'SibSp', 'Parch']
train = train.drop(features_drop, axis=1)
test = test.drop(features_drop, axis=1)
train = train.drop(['PassengerId'], axis=1) #인덱스 필요없음

In [92]:
train.head(20)

In [93]:
train_data = train.drop('Survived', axis=1)
target = train['Survived']

train_data.shape, target.shape #using survived col as target

# 3. Modeling

In [94]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

import numpy as np

In [95]:
train.info()

# <h3>3-1. Cross validation(K-fold) 교차검증 진행

In [96]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0) #10개의 fold로 나눈다

# <h3>3-1.1 kNN

In [97]:
clf = KNeighborsClassifier(n_neighbors = 13) #13개의 이웃을 기준으로 측정 
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score) #교차 검증 스코어

(참고)*cross_val_score parameter #파라미터

cross_val_score(estimator, X, y=None, groups=None, scoring=None, cv=None, n_jobs=1, verbose=0, fit_params=None, pre_dispatch=‘2*n_jobs’)

estimator : estimator object implementing ‘fit’ #사용할 모델 

The object to use to fit the data.

X : array-like

The data to fit. Can be for example a list, or an array.#학습할 모델

y : array-like, optional, default: None #Traget값 = 매개변수 = 예측할 값(칼럼)

The target variable to try to predict in the case of supervised learning.

cv : int, cross-validation generator or an iterable, optional #위에서 세팅한 Kfold값을 사용

Determines the cross-validation splitting strategy. Possible inputs for cv are:

None, to use the default 3-fold cross validation,
integer, to specify the number of folds in a (Stratified)KFold,
An object to be used as a cross-validation generator.
An iterable yielding train, test splits.


*리턴값
scores : array of float, shape=(len(list(cv)),)

Array of scores of the estimator for each run of the cross validation. #각 횟수 수행시 추정기의 점수 = 높을수록 좋다

In [98]:
# kNN Score
round(np.mean(score)*100, 2) #10번 시행시 평균 정확도

# <h3>3-1.2 Decision Tree

In [99]:
clf = DecisionTreeClassifier()

In [100]:
clf #특별하게 매개변수를 건드리지 않았으므로 다 디폴트 값이 주어짐

*DecisionTreeClassifier() 매개변수는 아래 링크에서 확인

http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html<Br>
<br>

In [101]:
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score) #아까와 동일

In [102]:
# decision tree Score
round(np.mean(score)*100, 2)

# <h3>3-1.3 Random Forest

In [103]:
clf = RandomForestClassifier(n_estimators=13) #13개의 decision tree사용
clf

*매개변수는 아래 링크에서 확인

http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html<br>
<br>

In [104]:
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

In [105]:
# decision tree Score
round(np.mean(score)*100, 2)

# <h3>3-1.4 Naive Bayes

In [106]:
clf = GaussianNB()
clf

In [107]:
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

In [108]:
# Naive Bayes Score
round(np.mean(score)*100, 2)

# <h3>3-1.5 SVM

In [109]:
clf = SVC()
clf

In [110]:
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

In [111]:
round(np.mean(score)*100,2)

# 4. Testing

In [113]:
#SVM이 제일 정확도가 높았으므로 SVM 사용

clf = SVC(C=1, kernel='rbf', coef0=1)
clf.fit(train_data, target) #학습시킬 데이터, 예측해야하는 타겟칼럼

In [114]:
test_data = test.drop("PassengerId", axis=1).copy()
prediction = clf.predict(test_data) 

#drop passengerid col

In [115]:
prediction #result of prediction

In [116]:
import collections, numpy

collections.Counter(prediction)
#dead = 257명 / survived = 161명

# Reference

https://www.youtube.com/channel/UCxP77kNgVfiiG6CXZ5WMuAQ

http://scikit-learn.org/stable/index.html