In [1]:
import os 
print (os.getcwd())

/Users/selfsee/PycharmProjects/Prj1

In [3]:
import pandas as pd
pop_Seoul = pd.read_excel("ex02_data_population_in_Seoul.xls",encording="utf-8")
print(pop_Seoul.head()) #5행만

         기간  자치구       세대        인구     인구.1     인구.2     인구.3     인구.4  \
0        기간  자치구       세대        합계       합계       합계      한국인      한국인
1        기간  자치구       세대         계       남자       여자        계       남자
2  2017.1/4   합계  4202888  10197604  5000005  5197599  9926968  4871560
3  2017.1/4  종로구    72654    162820    79675    83145   153589    75611
4  2017.1/4   중구    59481    133240    65790    67450   124312    61656

      인구.5    인구.6    인구.7    인구.8  세대당인구  65세이상고령자
0      한국인   등록외국인   등록외국인   등록외국인  세대당인구  65세이상고령자
1       여자       계      남자      여자  세대당인구  65세이상고령자
2  5055408  270636  128445  142191   2.36   1321458
3    77978    9231    4064    5167   2.11     25425
4    62656    8928    4134    4794   2.09     20764

In [4]:
pop_Seoul = pd.read_excel("ex02_data_population_in_Seoul.xls",
                          header = 2, #TODO 
                          usecols='B,D,G,J,N',
                          encording="utf-8" )
print(pop_Seoul.head()) #5행만

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [9]:
pop_Seoul.rename(columns={pop_Seoul.columns[0]:"구별",
                          pop_Seoul.columns[1]:"인구수",
                          pop_Seoul.columns[2]:"한국인",
                          pop_Seoul.columns[3]:"외국인",
                          pop_Seoul.columns[4]:"고령자"}, inplace=True )
pop_Seoul.head() #5행만

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0