## 1. 문자열

In [1]:
s = '가나다'
print(s)

가나다

In [2]:
s = "가나다"
print(s)

가나다

In [3]:
s = '''아리랑
아리랑
아라리요
'''
print(s)

아리랑
아리랑
아라리요

In [4]:
s = '아리랑\n아리랑\n아라리요'
print(s)

아리랑
아리랑
아라리요

### 문자열 포맷팅

In [5]:
p = "이름: %s 나이: %d" % ("김유신", 65)
print(p)

이름: 김유신 나이: 65

In [8]:
p = "이름 : %s 나이 : %d" % ("김유신", 65)
print(p)

이름 : 김유신 나이 : 65

In [9]:
p = "이름 : %s 나이 : %d" % ("이웅희", 27)
print(p)

이름 : 이웅희 나이 : 27

In [10]:
p = "이름 : %s 나이 : %d" % ("조병무", 27)
print(p)

이름 : 조병무 나이 : 27

In [11]:
p = "이름 : %s 나이 : %d" % ("김상규", 29)
print(p)

이름 : 김상규 나이 : 29

1. %s : 문자열(파이썬 객체를 str()을 사용하여 변환)<br>
2. %r : 문자열(파이썬 객체를 repr()을 사용하여 변환)<br>
3. %c : 문자(char)<br>
4. %d 또는 %i : 정수(int)<br>
5. %f 또는 %F : 부동소수(float)(%f 소문자 / %F 대문자)<br>
6. %e 또는 %E : 지수형 부동소수(소문자/대문자)<br>
7. %g 또는 %G : 일반형 : 값에 따라 %e 혹은 %f 사용(소문자/대문자)<br>
8. %o 또는 %O : 8진수(소문자/대문자)<br>
9. %x 또는 %X : 16진수(소문자/대문자)<br>
10. %% : % 퍼센트 리터럴

## 2. str(문자열 클래스)

In [12]:
s = "ABC"
type(s)

str

In [13]:
v = s[1]
type(s[1])

str

## 3. 자주 사용되는 str 메서드

### str.join()

In [14]:
s = ','.join(['가나','다라','마바'])
print(s)

가나,다라,마바

In [19]:
s = ' '.join(['가나','다라','마바'])
print(s)

가나 다라 마바

### str.split()

In [18]:
items = '가나,다라,마바'.split(',')
print(items)

['가나', '다라', '마바']

### str.partition()

In [20]:
departure, _, arrival = "Seattle-Seoul".partition('-')
print(departure)

Seattle

### str.format()

In [21]:
# 위치를 기준으로 한 포맷팅
s = "Name: {0}, Age: {1}".format("강정수", 30)
print(s)

Name: 강정수, Age: 30

In [22]:
# 필드명을 기준으로 한 포맷팅
s = "Name: {name}, Age: {age}".format(name="강정수", age=30)
print(s)

Name: 강정수, Age: 30

In [23]:
# object의 인덱스 혹은 키를 사용하여 포맷팅
area = (10, 20)
s = "width: {x[0]}, height: {x[1]}".format(x = area)
print(s)

width: 10, height: 20

## 4. bytes

In [24]:
text = b"Hello"
for c in text:
    print(c)

72
101
108
108
111

In [25]:
s1 = "A\u00e5"
s1

'Aå'

In [26]:
b = s1.encode('utf-8')
b

b'A\xc3\xa5'

In [27]:
s2 = b.decode('utf-8')
s2

'Aå'